.btn-buy {
  background-color: $btnColorTimerOver;
  border-color: $btnColorTimerOver;
}

.btn-buy:hover {
  background-color: $btnColorAddToCart;
  border-color: $btnColorAddToCart;
}

.cart-added {
  background-color: $btnColorAddToCart;
  border-color: $btnColorAddToCart;
}