{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% set pluginOptions = {
  timeOutMillisec: theme_config('timeOutMillisec')
} %}

{% block page_product_detail_buy_button_container %}
  <div class="{% if showQuantitySelect %}col-8{% else %}col-12{% endif %}">
      {% block page_product_detail_buy_button %}
          <div class="d-grid">
              <button class="btn btn-primary btn-buy btn-details-buy"
                      title="{{ "detail.addProduct"|trans|striptags }}"
                      aria-label="{{ "detail.addProduct"|trans|striptags }}"
                      data-color-change-options = '{{ pluginOptions|json_encode }}'
                      >
                  {{ "detail.addProduct"|trans|sw_sanitize }}
              </button>
          </div>
      {% endblock %}
  </div>
{% endblock %}